h1.heading {
    margin-block: 16px;
    font-size: 2rem;
}
div.miniMap {
    height: 300px;
    margin-block-end: 16px;
}
button.reset {
    background: rgb(255, 255, 255) padding-box;
    display: table-cell;
    border: 0px;
    margin: 0px;
    padding: 0px 17px;
    text-transform: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
button.reset:hover {
    background: rgb(245, 245, 245) padding-box;
}

div.actionsWrapper {
    display: flex;
    font-size: 16px;
    margin-block-end: 8px;
    align-items: end;

    span {
        flex-grow: 1;
        font-weight: 300;
        padding-inline-start: 16px;
    }
}
