div.timeSliderContainer {
    display: flex;
    align-items: center;

    &.hidden {
        transition: opacity 500ms, margin 500ms 100ms, height 1000ms 300ms;
        height: 0px;
        opacity: 0;
        margin-block-start: 0px;
    }

    &.visible {
        transition: height 1000ms, margin 500ms 100ms, opacity 500ms 500ms;
        height: 114px;
        opacity: 1;
        margin-block-start: 16px;
    }

    div.timeSliderWrapper {
        --slider-width: 56em;
        --label-margins: 0.75em;
        --number-of-steps: 10;
        --min: 0;
        --max: 100;
        --val: 90;
        --forecast-color: fuchsia;

        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: var(--slider-width);
        margin-block: 48px;
        margin-inline-start: 100px;
        margin-inline-end: 48px;

        label {
            margin-inline-start: -100px;
            margin-block-end: -50px;
        }

        input[type="range"] {
            margin-block-start: 16px;
            margin-block-end: 8px;
            margin-inline: 0;
            padding: 0;
            width: 100%;

            & ~ output {
                display: block;
                position: absolute;
                left: var(--label-margins);
                top: -48px;
                padding: 2px 8px;
                border-radius: 4px;
                transform: translate(
                    calc(
                        (var(--val) - var(--min)) / (var(--max) - var(--min)) *
                            (var(--slider-width) - (2 * var(--label-margins))) -
                            50%
                    )
                );
                background: var(--rentokil-red);
                color: #fff;
            }
            &.forecast ~ output {
                background: var(--forecast-color);
            }
        }

        .date {
            color: var(--text-primary)
        }

        .labels {
            position: absolute;
            bottom: 0;
            left: var(--label-margins);
        }

        .labels span {
            color: var(--text-primary);
            position: absolute;
            left: calc(
                var(--i) * (var(--slider-width) - (2 * var(--label-margins))) /
                    var(--number-of-steps)
            );
            transform: translate(-50%) scale(0.9);
            white-space: nowrap;

            &:last-child {
                color: var(--forecast-color);
            }
        }
    }

    div.timeSliderBtns {
        font-family: Apple Color Emoji, Segoe UI Emoji, Noto Color Emoji,
            Android Emoji, EmojiSymbols, EmojiOne Mozilla, Twemoji Mozilla,
            Segoe UI Symbol, Noto Color Emoji Compat, emoji;

        button {
            border: 1px solid transparent;
            font-size: 1.5rem;
            font-family: inherit;
            background: none;
            cursor: pointer;
            transition: border-color 0.25s;
            width: 40px;
            white-space: nowrap;
        }
        button:hover {
            border-color: #646cff;
        }
        button:focus,
        button:focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
        }
    }
}
