div.banner {
    position: relative;
}
div.topNavBar {
    width: 100%;
    height: 20px;
    margin: auto;
    display: flex;
    background: #0f202e;
    flex-direction: column;
}

div.bottomNavBar {
    width: 100%;
    height: 38px;
    margin: auto;
    display: flex;
    background: #354a55;
    flex-direction: column;
}

div.outer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

div.logoContainer {
    pointer-events: auto;
    top: 0px;
    margin-left: 40px;
    width: 25%;
    min-width: 500px;
    height: 58px;
    z-index: 3;
    position: absolute;
    background: #ed1c24;
}

div.logoTitleContainer {
    pointer-events: auto;
    top: 5.5px;
    position: relative;
    text-align: center;
}
