#root {
    height: calc(100vh - 3rem);
    width: 100vw;
    margin: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

div.wrapper {
    height: 100%;
}
