div.info {
    margin-block: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    div[data-lastpass-icon-root],
    div[data-lastpass-root] {
        display: none;
    }

    input {
        outline: 2px solid #ed1c24;
        border-radius: 4px;
        border: none;
        padding-inline: 1rem;
        font-size: 1em;
        width: 250px;
    }
}
