div.mapWrapper {
    /* 
    * Always set the map height explicitly to define the size of the div element
    * that contains the map. 
    */
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    div.map {
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }
}
