div.mapWrapper {
    /* 
    * Always set the map height explicitly to define the size of the div element
    * that contains the map. 
    */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-default);

    div.map {
        height: 100%;
        width: 100%;
        flex-grow: 1;

        button.toggleHeatMap {
            background: rgb(255, 255, 255) padding-box;
            display: table-cell;
            border: 0px;
            border-radius: 2px;
            margin: 10px 11px;
            padding: 0px 17px;
            text-transform: none;
            appearance: none;
            position: relative;
            cursor: pointer;
            user-select: none;
            overflow: hidden;
            text-align: center;
            height: 40px;
            vertical-align: middle;
            color: rgb(0, 0, 0);
            font-family: Roboto, Arial, sans-serif;
            font-size: 18px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
            min-width: 36px;
        }
        button.toggleHeatMap:hover {
            background: rgb(245, 245, 245) padding-box;
        }
    }
}
